<div class="content">
    <div class="first">
        <a href="/todo/new" class="button">Create new Note</a>
        <a href="/switchStyle/" class="button">Switch Style</a>
    </div>
    <div class="filter">
        <a href="/sort/byFinishDate" class="button">By finish Date</a>
        <a href="/sort/byCreationDate" class="button">By created Date</a>
        <a href="/sort/byImportance" class="button">By Importance</a>
        <a href="/sort/byCompletion" id="finished" class="button">Show finished</a>
    </div>
    <div class="todoList">
        {{#if todo}}
            {{#each todo}}
                {{#if this._id}}
                    <div class="postIt">
                        <div class="date">
                            {{this.until}} <!-- <span class="material-icons">schedule</span> -->
                        </div>

                        <div class="importance">
                            {{#drawStars this.importance}}
                                {{this}}
                            {{/drawStars}}
                        </div>

                        <div class="title">
                            <p>{{this.title}}</p>
                        </div>

                        <div class="description">
                            <p>{{this.description}}</p>
                        </div>

                        {{#if done}}
                            <div class="done"></div>
                        {{/if}}

                        <div class="edit">
                            <a href="/todo/{{this._id}}/" id="{{this._id}}" class="icon" ><span class="material-icons check">mode_edit</span></a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        {{else}}
            <div class="postIt noNote">
                <h1>No Note!</h1>
                <h2>Add a note <a href="/todo/new" >here</a>.</h2>
            </div>
        {{/if}}
    </div>
</div>