<div class="container">
    <div class="content">
        <div class="create">
            <a href="/todo/new" class="button">Create new Note</a>
        </div>
        <div class="styleSwitcher">
            <a href="/switchStyle/" class="button">Switch Style</a>
        </div>
        <div class="filter">
            <ul>
                <li><a href="/sort/byFinishDate" class="button">By finish Date</a></li>
                <li><a href="/sort/byCreationDate" class="button">By created Date</a></li>
                <li><a href="/sort/byImportance" class="button">By Importance</a></li>
                <li><a href="/sort/byCompletion" class="button">Show finished</a></li>
            </ul>
        </div>
        <div class="todoList">
            {{#if todo}}
                {{#each todo}}
                    {{#if _id}}
                        <div class="todo">
                            <ul>
                                <li class="postIt">
                                    <p class="date"><i class="material-icons">schedule</i>{{until}}</p>
                                    <p><i class="material-icons">assignment_late</i>{{importance}}</p>
                                    <p class="title">{{title}}</p>
                                    <p class="description">{{description}}</p>
                                    <a href="/todo/{{_id}}/" id="{{_id}}" class="icon" ><i class="material-icons">mode_edit</i></a>
                                    {{#if done}}
                                        <i class="material-icons done">done</i>
                                    {{/if}}
                                </li>
                            </ul>
                        </div>
                    {{/if}}
                {{/each}}
            {{else}}
                <div class="postIt">
                    <h1>No Note!</h1>
                    <h2>Add a note <a href="/todo/new" >here</a>.</h2>
                </div>
            {{/if}}
        </div>
    </div>
</div>