<div class="container">
    <div class="header">
        <h1>Todo: {{title}}</h1>
    </div>
    <div class="content">
        <div class="create">
            <a href="/todo/new">Create new Note</a>
        </div>
        <div class="styleSwitcher">
            <form action="#">
                <select name="style">
                    <option>BlackWhite-Style</option>
                    <option>Alternativ-Style</option>
                </select>
            </form>
        </div>
        <div class="filter">
            <ul>
                <li><a href="xxxxx">By finish Date</a></li>
                <li><a href="xxxxx">By created Date</a></li>
                <li><a href="xxxxx">By Importance</a></li>
                <li><a href="xxxx">Show finished</a></li>
            </ul>
        </div>
        <div class="todoList">
            {{#each .}}
                {{#if _id}}
                    <div class="todo">
                        <ul>
                            <li>
                                <p>Id: {{_id}}</p>
                                <p>Date: {{until}}</p>
                                <p>Done: {{done}}</p>
                                <p>Title: {{title}}</p>
                                <p>Description: {{description}}</p>
                                <p>Importance: {{importance}}</p>

                                <button type="button" id="edit"><a href="/todo/{{_id}}/" class="edit" id="{{_id}}" >Edit</a></button>
                            </li>
                        </ul>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>