<div class="content">
    <div class="first">
        <a href="/todo/new" class="button">Create new Note</a>
        <a href="/switchStyle/" class="button">Switch Style</a>
    </div>
    <div class="filter">
        <a href="/sort/byFinishDate" class="button">By finish Date</a>
        <a href="/sort/byCreationDate" class="button">By created Date</a>
        <a href="/sort/byImportance" class="button">By Importance</a>
        <a href="/sort/byCompletion" id="finished" class="button">Show finished</a>
    </div>
    <div class="todoList">
        {{#if todo}}
            {{#each todo}}
                {{#if _id}}
                    <div class="postIt">
                        <div class="date">
                            <p><i class="material-icons">schedule</i>{{until}}</p>
                        </div>

                        <div class="importance">
                            <p><i class="material-icons">assignment_late</i>{{importance}}</p>
                        </div>

                        <div class="title">
                            <p>{{title}}</p>
                        </div>

                        <div class="description">
                            <p>{{description}}</p>
                        </div>

                        {{#if done}}
                            <div class="done"></div>
                        {{/if}}

                        <div class="edit">
                            <a href="/todo/{{_id}}/" id="{{_id}}" class="icon" ><i class="material-icons check">mode_edit</i></a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        {{else}}
            <div class="postIt noNote">
                <h1>No Note!</h1>
                <h2>Add a note <a href="/todo/new" >here</a>.</h2>
            </div>
        {{/if}}
    </div>
</div>