<div class="container">
    <div class="header">
        <h1>Todo: {{title}}</h1>
    </div>
    <div class="content">
        <div class="title">
            <form id="todo" method=post action="{{#if _id}}/todo/{{_id}}{{else}}/todo{{/if}}">
                <label for="title">Title
                    <input id="title" name="title" required="required" value="{{title}}">
                </label>

                <label for="description">Description
                    <input id="description" name="description" value="{{description}}">
                </label>

                <label for="until">Until
                    <input type="date" name="until" value="{{until}}">
                </label>

                <label for="importance">Importance
                    <input type="number" name="importance" min="1" max="5" value="{{importance}}">
                </label>

                <label for="done">done
                    <input type="checkbox" id="done" name="done" value="true" {{#if done}}checked{{/if}}>
                </label>

                {{#if _id}}
                    <input type="submit" value="Edit">
                {{else}}
                    <input type="submit" value="Save">
                {{/if}}

            </form>
            <button type="button" class="button" ><a href="/">Cancel</a></button>
        </div>
    </div>
</div>