<div id="createNew">
    <div class="postIt newPostIt">
        <form id="todo" method=post action="{{#if _id}}/todo/{{_id}}{{else}}/todo{{/if}}" class="todo">
            <div class="date">
                <i class="material-icons">schedule</i>
                <input type="date" name="until" value="{{until}}">

            </div>
            <div class="importance">
                <i class="material-icons">assignment_late</i>
                <input type="number" name="importance" min="1" max="5" value="{{importance}}">

            </div>
            <div class="title">
                <label for="title">Title
                    <input type=text id="title" placeholder="Title" name="title" required="required" value="{{title}}">
                </label>
            </div>

            <div class="description">
                <label for="description">Description
                    <input type=text id="description" placeholder="Description" name="description" value="{{description}}">
                </label>
            </div>

            {{#if _id}}
                <label for="done">done
                    <input type="checkbox" id="done" name="done" value="true" {{#if done}}checked{{/if}}>
                </label>
            {{/if}}

            <div class="submitButton">
                <button type="submit" id="submitButton">
                    <i class="material-icons">sd_card</i>
                </button>
            </div>
        </form>
        {{#if _id}}
            <div class="edit">
                <a href="/delete/{{_id}}"><i class="material-icons">delete</i></a></button>
            </div>
        {{/if}}
    </div>
</div>
<div id="back">
    <a href="/" class="button">Back</a>
    <!-- <i class="material-icons">clear</i> -->
</div>
