<div id="createNew">
    <div class="postIt newPostIt">
        <div class="todoForm">
        <form id="todo" method=post action="{{#if this._id}}/todo/{{this._id}}{{else}}/todo{{/if}}" class="todo">
            <div class="dateimportance">
            <div class="date">
                <span class="material-icons">schedule</span>
                <input type="date" name="until" value="{{this.until}}">
            </div>
            <div class="importance">
                <span class="material-icons">assignment_late</span>
                <input type="number" name="importance" min="1" max="5" value="{{this.importance}}">
            </div>
            </div>
            <div class="title">
                <label for="title">Title
                    <input type=text id="title" placeholder="Title" name="title" required="required" value="{{this.title}}">
                </label>
            </div>

            <div class="description">
                <label for="description">Description
                    <input type=text id="description" placeholder="Description" name="description" value="{{this.description}}">
                </label>
            </div>

            {{#if this._id}}
                <label for="done">done
                    <input type="checkbox" id="done" name="done" value="true" {{#if this.done}}checked{{/if}}>
                </label>
            {{/if}}

            <div class="submitButton">
                <button type="submit" id="submitButton">
                    <span class="material-icons">sd_card</span>
                </button>
            </div>
        </form>
        </div>
        {{#if this._id}}
            <div class="edit">
                <a href="/delete/{{this._id}}"><span class="material-icons">delete</span></a></button>
            </div>
        {{/if}}
    </div>
</div>
<div id="back">
    <a href="/" class="button">Back</a>
</div>
